<!doctype html>
	<html ng-app="Game">
<head>
    <base>
	<meta charset="utf-8">

	<!-- opengraph tags for future-->
	<!--<meta property="og:site_name" content="FINDER">-->
    <!--<meta property="og:image" content="path/to/image">-->
	<!--<meta property="og:type" content="webgame">-->
	<!--<meta property="og:title" content="finder">-->
	<!--<meta property="og:description" content="Webgame for the little ones">-->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Annie+Use+Your+Telescope|Cabin+Sketch|Flavors|Fontdiner+Swanky|Kranky|Ruge+Boogie" rel="stylesheet">
    <link rel="stylesheet" href="static/css/base.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
    <script src="static/js/app/app.js"></script>
    <script src="static/js/app/controllers.js"></script>
    <script src="static/js/app/directives.js"></script>
    <!--<script src="/static/js/app/services.js"></script>-->

	<title>
		FinderGame
	</title>
</head>

<script>
    function doubling_and_shuffle_elements(list_elements, count_cells) {
        /**
         * @param {Array} list_elements - array  with some elements any types;
         * @param {Number} count_cells - count of elements in square matrix of even order(game field);
         * @return {Array} doubling_array - array with length = count_cells, includes
         * duplicated and shuffled elements from list_elements;
         * Example: doubling_and_shuffle_elements([1,2,3,4,5,6,7,8,9],4)
         *          return [1,2,2,1]
         */
        var doubling_array = [],
            cut_list_elements = list_elements.slice(0,(count_cells/2)); //get list half requirenment length
        for (var i = 0; i < cut_list_elements.length; i++){
            doubling_array.push(cut_list_elements[i], cut_list_elements[i])
        }
        var tmp, current, top = doubling_array.length;

        if(top) while(--top) {
            current = Math.floor(Math.random() * (top + 1));
            tmp = doubling_array[current];
            doubling_array[current] = doubling_array[top];
            doubling_array[top] = tmp;
        }
        return doubling_array;
    }
</script>
<body>
    <div ng-controller="StepController" class="base_container">
        <!--<div class="wraper">-->

            <div class="container_selectors" ng-switch="steps">
                <div class="select_game_block" ng-switch-default="step_1">
                    <p class="font-game">Players</p>
                    <button class="bt" ng-click="step_1('one')">
                     One
                    </button>
                    <button class="bt" ng-click="step_1('two')">
                     Two
                    </button>
                </div>
                <div class="select_game_block" ng-switch-when="step_2">
                    <p class="font-game">Difficulty Level</p>
                    <mini-carousel selectors="all_levels" lft-btn="" rght-btn="" ok-handler="step_2"/>
                </div>
                <div class="select_game_block" ng-switch-when="step_3">
                    <p class="font-game">What will you be looking for?</p>
                    <mini-carousel selectors="all_elements" lft-btn="" rght-btn="" ok-handler="step_3"/>
                </div>
                <div class="select_game_block" ng-switch-when="step_4">
                    <button class="bt" ng-click="startgame(players,level,element)">Start >>>-----></button>
                </div>
                <div ng-switch-when="step_5"></div>
                <div ng-view></div>

                <div class="popup_wrapper" ng-class="{visible_wrap: win}">
                    <div class="popup_result">
                        <p>Congratulations!<br>
                            You are win
                        </p>
                        <a class="button" ng-click="set_to_start()" ng-href = "{{base_href}}">Restart game</a>
                        <!--<a class="button" href="/">End game</a>-->
                    </div>
                </div>
                <div class="popup_wrapper"  ng-class="{visible_wrap: fail}">
                    <div class="popup_result">
                        <p>:((((((<br>
                            You are loser
                        </p>
                        <a class="button" ng-click="set_to_start()" ng-href = "{{base_href}}">Restart game</a>
                        <!--<a class="button" href="/">End game</a>-->
                    </div>
                </div>

            </div>
                <div id="container_layer" ng-mousemove="change_x($event)">
                <img src="static/img/art-back.gif" id="layer1" style="opacity: 1;z-index: 0" >
                <img src="static/img/art-tree.gif" id="layer2" style="opacity: 1;z-index: 2">
                <img src="static/img/art-boat.gif" id="layer3" style="opacity: 1;z-index: 3">
                </div>
        <!--<mini-carousel selectors="all_elements" lft-btn="static/img/socks/sock2.gif" rght-btn="" />-->
        </div>
    <!--</div>-->

    <script type="text/javascript">
         //for github pages
        document.getElementsByTagName('base')[0].href = document.location.pathname
    </script>
</body>
