<!doctype html>
	<html ng-app="Game">
<head>
    <base>
	<meta charset="utf-8">

	<!-- opengraph tags for future-->
	<!--<meta property="og:site_name" content="FINDER">-->
    <!--<meta property="og:image" content="path/to/image">-->
	<!--<meta property="og:type" content="webgame">-->
	<!--<meta property="og:title" content="finder">-->
	<!--<meta property="og:description" content="Webgame for the little ones">-->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Annie+Use+Your+Telescope|Cabin+Sketch|Flavors|Fontdiner+Swanky|Kranky|Ruge+Boogie" rel="stylesheet">
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" media="only screen and (max-device-width:480px)" href="static/css/small-devices.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="static/js/app/app.js"></script>

    <script src="static/js/app/controllers.js"></script>
    <script src="static/js/app/directives.js"></script>
    <script src="static/js/app/services.js"></script>

	<title>
		FinderGame
	</title>
</head>

<script>
    function doubling_and_shuffle_elements(list_elements, count_cells) {
        /**
         * @param {Array} list_elements - array  with some elements any types;
         * @param {Number} count_cells - count of elements in square matrix of even order(game field);
         * @return {Array} doubling_array - array with length = count_cells, includes
         * duplicated and shuffled elements from list_elements;
         * Example: doubling_and_shuffle_elements([1,2,3,4,5,6,7,8,9],4)
         *          return [1,2,2,1]
         */
        var doubling_array = [],
            cut_list_elements = list_elements.slice(0,(count_cells/2)); //get list half requirenment length
        for (var i = 0; i < cut_list_elements.length; i++){
            doubling_array.push(cut_list_elements[i], cut_list_elements[i])
        }
        var tmp, current, top = doubling_array.length;

        if(top) while(--top) {
            current = Math.floor(Math.random() * (top + 1));
            tmp = doubling_array[current];
            doubling_array[current] = doubling_array[top];
            doubling_array[top] = tmp;
        }
        return doubling_array;
    }
</script>
<body ng-controller="StepController">
    <div class="container_selectors" ng-switch="steps" ng-hide="steps=='step_5'">
        <div class="select_game_block" ng-switch-default="step_1">
            <div make-frame></div>
            <p class="font-game">Players</p>
            <div class="bts">
                <div class="bt" ng-click="step_1('one')">
                 One
                </div>
                <div class="bt" ng-click="step_1('two')">
                 Two
                </div>
            </div>
        </div>
        <div class="select_game_block" ng-switch-when="step_2">
            <div make-frame></div>
            <p class="font-game">Difficulty Level</p>
            <mini-carousel selectors="all_levels" lft-btn="" rght-btn="" ok-handler="step_2"/>
        </div>
        <div class="select_game_block" ng-switch-when="step_3">
            <div make-frame></div>
            <p class="font-game">What will you be looking for?</p>
            <mini-carousel selectors="all_elements" lft-btn="" rght-btn="" ok-handler="step_3"/>
        </div>
        <div class="select_game_block" ng-switch-when="step_4">
             <div make-frame></div>
            <div class="bt_start" ng-click="startgame(players,level,element)">Start <br>>>>-----></div>
        </div>
        <div ng-switch-when="step_5"></div>
    </div>
    <div ng-view class="container_gamefield"></div>

    <!--</div>-->
    <script type="text/javascript">
         //for github pages
        document.getElementsByTagName('base')[0].href = document.location.pathname
    </script>
</body>
