/* line 1, ../sass/_mini_carousel_styles.scss */
.carousel_wrapper {
  font: 62px "Flavors", cursive;
  color: #944613;
  width: 380px;
  margin: auto;
  height: 80px;
  text-align: center;
}

/* line 9, ../sass/_mini_carousel_styles.scss */
.carousel_btn, .btn_left, .btn_right {
  width: 50px;
  height: inherit;
  text-align: center;
}

/* line 14, ../sass/_mini_carousel_styles.scss */
.carousel_selector p, .carousel_btn p, .btn_left p, .btn_right p {
  margin: auto;
}

/* line 17, ../sass/_mini_carousel_styles.scss */
.carousel_btn:hover, .btn_left:hover, .btn_right:hover {
  color: #592B08;
}

/* line 21, ../sass/_mini_carousel_styles.scss */
.btn_left {
  float: left;
}

/* line 25, ../sass/_mini_carousel_styles.scss */
.btn_right {
  float: right;
}

/* line 29, ../sass/_mini_carousel_styles.scss */
.btn_left img, .btn_right img {
  height: inherit;
  width: inherit;
  position: relative;
}

/* line 34, ../sass/_mini_carousel_styles.scss */
.carousel_selector {
  width: 280px;
  height: inherit;
  margin: auto;
  position: relative;
  float: left;
}

/* line 44, ../sass/_mini_carousel_styles.scss */
.carousel_ok {
  font: 52px "Flavors", cursive;
  margin: auto;
  display: block;
  width: 200px;
}

/* line 52, ../sass/_mini_carousel_styles.scss */
.btn_left:focus, .btn_right:focus, .carousel_ok:focus {
  outline: none;
  opacity: 0.9;
}

/* line 14, ../sass/base.scss */
body {
  background-image: url("../img/back_no_parallax.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #944613;
  font: 40px "Flavors", cursive;
}

/* line 21, ../sass/base.scss */
.base_container {
  margin: auto;
}

/* line 25, ../sass/base.scss */
.font-game {
  color: #944613;
  font: 50px "Flavors", cursive;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 20px;
}

/* line 34, ../sass/base.scss */
.button-constant, .carousel_ok, .bt, .bt:hover, .bt_start {
  text-align: center;
  border: none;
  min-height: 70px;
  color: #944613;
}

/* line 42, ../sass/base.scss */
.button-constant:hover, .carousel_ok:hover, .btn_left:hover, .btn_right:hover, .bt:hover, .bt_start:hover {
  border: none;
  color: #592B08;
}

/* line 48, ../sass/base.scss */
.bt {
  font: 52px "Flavors", cursive;
  width: 190px;
  float: left;
}

/* line 57, ../sass/base.scss */
.bt:focus {
  outline: none;
  opacity: 0.9;
}

/* line 61, ../sass/base.scss */
.bt_start {
  font: 52px "Flavors", cursive;
  width: 190px;
  margin: auto;
  top: 25%;
  position: relative;
}

/* line 69, ../sass/base.scss */
.container_selectors {
  max-width: 420px;
  min-width: 200px;
  min-height: 200px;
  position: relative;
  top: 200px;
  margin: auto;
}

/* line 82, ../sass/base.scss */
.frame_over_window {
  position: absolute;
  pointer-events: none;
  width: inherit;
  height: inherit;
}

/* line 90, ../sass/base.scss */
.frame_top_left {
  pointer-events: none;
  position: absolute;
  top: -70px;
  left: -70px;
  background: url("../img/clover_top_left.gif");
  width: 300px;
  height: 300px;
  z-index: 7;
}

/* line 101, ../sass/base.scss */
.frame_bottom_right {
  pointer-events: none;
  position: absolute;
  bottom: -70px;
  right: -70px;
  float: right;
  background: url("../img/clover_bottom_right.gif") bottom right;
  width: 300px;
  height: 300px;
  z-index: 7;
}

/* line 113, ../sass/base.scss */
.scores {
  padding-top: 20px;
  text-align: center;
}

/* line 117, ../sass/base.scss */
.select_game_block {
  background-image: url("../img/plate.gif");
  position: relative;
  min-width: 300px;
  height: 320px;
  padding: 20px 20px;
}

/* line 125, ../sass/base.scss */
#container_layer {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

/* line 132, ../sass/base.scss */
img {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 137, ../sass/base.scss */
.container_gamefield {
  z-index: 5;
  position: relative;
  margin: auto;
}

/* line 152, ../sass/base.scss */
.field {
  /*position: fixed;*/
  margin: auto;
  margin-top: 10px;
  height: 432px;
  width: 432px;
}

/* line 161, ../sass/base.scss */
.field_cell {
  margin: 4px;
  height: 100px;
  width: 100px;
  background-color: #542406;
  opacity: 0.8;
  border-radius: 9px;
  position: relative;
  float: left;
}

/* line 173, ../sass/base.scss */
.field_cell:hover {
  opacity: 0.7;
}

/* line 176, ../sass/base.scss */
.open:hover, .col:hover {
  opacity: 0.8;
}

/* line 179, ../sass/base.scss */
.show {
  background-color: #EBC678;
}

/* line 182, ../sass/base.scss */
.open {
  background-color: #6C7010;
}

/* line 188, ../sass/base.scss */
.field_cell img {
  height: inherit;
}

/* line 191, ../sass/base.scss */
.dialog {
  color: #944613;
  font: 40px "Flavors", cursive;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  background-image: url("../img/plate.gif");
  background-repeat: no-repeat;
  height: 360px;
  width: 420px;
}

/* line 208, ../sass/base.scss */
.base_text {
  color: #944613;
  font: 40px "Flavors", cursive;
}

/* line 212, ../sass/base.scss */
.dialog > .w {
  padding: 20px 20px;
  text-align: center;
}

/* line 217, ../sass/base.scss */
.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 90;
  opacity: 0.5;
}
