/* line 1, ../sass/_mini_carousel_styles.scss */
.carousel_wrapper {
  font: 3.6vw "Flavors", cursive;
  color: #944613;
  width: 100%;
  margin: auto;
  height: 80px;
  text-align: center;
}

/* line 9, ../sass/_mini_carousel_styles.scss */
.carousel_btn, .btn_left, .btn_right {
  width: 10%;
  height: inherit;
  text-align: center;
}

/* line 14, ../sass/_mini_carousel_styles.scss */
.carousel_selector p, .carousel_btn p, .btn_left p, .btn_right p {
  margin: auto;
}

/* line 17, ../sass/_mini_carousel_styles.scss */
.carousel_btn:hover, .btn_left:hover, .btn_right:hover {
  color: #592B08;
}

/* line 21, ../sass/_mini_carousel_styles.scss */
.btn_left {
  float: left;
}

/* line 25, ../sass/_mini_carousel_styles.scss */
.btn_right {
  float: right;
}

/* line 29, ../sass/_mini_carousel_styles.scss */
.btn_left img, .btn_right img {
  height: inherit;
  width: inherit;
  position: relative;
}

/* line 34, ../sass/_mini_carousel_styles.scss */
.carousel_selector {
  width: 80%;
  height: inherit;
  margin: auto;
  position: relative;
  float: left;
}

/* line 44, ../sass/_mini_carousel_styles.scss */
.carousel_ok {
  font: 3.6vw "Flavors", cursive;
  margin: auto;
  display: block;
  width: 30%;
}

/* line 52, ../sass/_mini_carousel_styles.scss */
.btn_left:focus, .btn_right:focus, .carousel_ok:focus {
  outline: none;
  opacity: 0.9;
}

/* line 13, ../sass/small-devices.scss */
body {
  background-image: url("../img/back_no_parallax.jpg");
  background-repeat: no-repeat;
  background-size: 220%;
  background-position-x: -600px;
  color: #944613;
  font: 12vw "Flavors", cursive;
}

/* line 21, ../sass/small-devices.scss */
.base_container {
  margin: auto;
}

/* line 24, ../sass/small-devices.scss */
.font-game {
  color: #944613;
  font: 12vw "Flavors", cursive;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0;
  line-height: 90%;
}

/* line 32, ../sass/small-devices.scss */
.button-constant, .carousel_ok, .bt, .bt:hover, .bt_start {
  text-align: center;
  border: none;
  min-height: 70px;
  color: #944613;
}

/* line 39, ../sass/small-devices.scss */
.button-constant:hover, .carousel_ok:hover, .btn_left:hover, .btn_right:hover, .bt:hover, .bt_start:hover {
  border: none;
  color: #592B08;
}

/* line 43, ../sass/small-devices.scss */
.bt {
  font: 14vw "Flavors", cursive;
  width: 50%;
  float: left;
}

/* line 52, ../sass/small-devices.scss */
.bt:focus {
  outline: none;
  opacity: 0.9;
}

/* line 56, ../sass/small-devices.scss */
.bt_start {
  font: 14vw "Flavors", cursive;
  width: 74%;
  margin: auto;
  top: 0;
  position: relative;
}

/* line 64, ../sass/small-devices.scss */
.container_selectors {
  width: 80%;
  position: relative;
  top: 200px;
  margin: auto;
}

/* line 70, ../sass/small-devices.scss */
.container_selectors:before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* line 75, ../sass/small-devices.scss */
.frame_over_window {
  position: absolute;
  pointer-events: none;
  width: inherit;
  height: inherit;
}

/* line 81, ../sass/small-devices.scss */
.frame_top_left {
  pointer-events: none;
  position: absolute;
  top: -70px;
  left: -60px;
  background: url("../img/clover_top_left.gif");
  width: 300px;
  height: 300px;
  z-index: 7;
}

/* line 91, ../sass/small-devices.scss */
.frame_bottom_right {
  pointer-events: none;
  position: absolute;
  bottom: -60px;
  right: -60px;
  float: right;
  background: url("../img/clover_bottom_right.gif") bottom right;
  width: 300px;
  height: 300px;
  z-index: 7;
}

/* line 102, ../sass/small-devices.scss */
.scores {
  font: 14vw "Flavors", cursive;
}

/* line 105, ../sass/small-devices.scss */
.select_game_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 82%;
  background: url("../img/plate.gif") no-repeat;
  background-size: contain;
  padding: 25px 25px;
}

/* line 119, ../sass/small-devices.scss */
.bts {
  margin-top: 100px;
}

/* line 122, ../sass/small-devices.scss */
#container_layer {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

/* line 127, ../sass/small-devices.scss */
img {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 132, ../sass/small-devices.scss */
.field_cell:hover {
  opacity: 0.7;
}

/* line 135, ../sass/small-devices.scss */
.open:hover, .col:hover {
  opacity: 0.8;
}

/* line 138, ../sass/small-devices.scss */
.show {
  background-color: #EBC678;
}

/* line 141, ../sass/small-devices.scss */
.open {
  background-color: #6C7010;
}

/* line 144, ../sass/small-devices.scss */
.field_cell img {
  height: inherit;
}

/* line 147, ../sass/small-devices.scss */
.dialog {
  width: 90%;
  position: relative;
  top: 200px;
  margin: auto;
}

/* line 153, ../sass/small-devices.scss */
.dialog:before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* line 158, ../sass/small-devices.scss */
.base_text {
  color: #944613;
  font: 12vw "Flavors", cursive;
}

/* line 165, ../sass/small-devices.scss */
.dialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  z-index: 90;
  opacity: 0.5;
}

/* line 175, ../sass/small-devices.scss */
.carousel_wrapper {
  font: 12vw "Flavors", cursive;
  width: 100%;
  height: 150px;
}

/* line 180, ../sass/small-devices.scss */
.carousel_ok {
  font: 12vw "Flavors", cursive;
}

/* line 183, ../sass/small-devices.scss */
.carousel_btn, .btn_left, .btn_right {
  width: 10%;
}

/* line 186, ../sass/small-devices.scss */
.carousel_selector {
  width: 80%;
}

/* line 189, ../sass/small-devices.scss */
.container_gamefield {
  width: 90%;
}

/* line 192, ../sass/small-devices.scss */
.container_gamefield:before {
  padding-top: 160%;
}

/* line 195, ../sass/small-devices.scss */
.container_gamefield > div {
  background: url("../img/plate2.gif") no-repeat;
  background-size: contain;
}

/* line 199, ../sass/small-devices.scss */
.field_wrapper {
  width: 90%;
}

/* line 202, ../sass/small-devices.scss */
.field_cell {
  border-radius: 18px;
}

/* line 205, ../sass/small-devices.scss */
.field {
  width: 100%;
  height: 80%;
}

/* line 209, ../sass/small-devices.scss */
.show_message_current_player {
  left: 20%;
  width: 60%;
  font-size: 70vw;
}
