@import "compass";


$font-base-family: 'Flavors', cursive;
$color-font-base: #944613;
$color-font-hover: #592B08;
$base-background:url("../img/back_no_parallax.jpg");
$dw-background:url("../img/plate.gif") no-repeat;
@mixin font-base($size) {
  font: $size $font-base-family;
}
@import "mini_carousel_styles";
body{
  background-image: $base-background;
  background-repeat: no-repeat;
  background-size: 220%;
  background-position-x:-600px;
  color: $color-font-base;
  @include font-base(12vw);
}
.base_container{
  margin: auto;
}
.font-game{
  color: $color-font-base;
  @include font-base(12vw);
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0;
//  padding: 50px 30px;
//  padding-top: 20px;
  line-height: 90%;
}
.button-constant{
  text-align: center;
  border: none;
  min-height: 70px;
  color: $color-font-base;

}
.button-constant:hover{
  border: none;
  color: $color-font-hover;
}
.bt{
  @extend .button-constant;
  @include font-base(14vw);
  width: 50%;
  float:left;
}
.bt:hover{
  @extend .button-constant;
}
.bt:focus{
  outline: none;
  opacity: 0.9;
}
.bt_start{
  @extend .button-constant;
  @include font-base(14vw);
//  width: 190px;
  width: 74%;
  margin: auto;
  top: 0;
  position: relative;
}
.container_selectors{
  width: 80%;
//  max-width: 420px;
//  min-width: 200px;
//  min-height: 200px;
  position: relative;
  top: 200px;
  margin: auto;
}
.container_selectors:before{
  content:"";
  display: block;
  padding-top: 100%;
}
.frame_over_window{
  position: absolute;
  pointer-events: none;
  width: inherit;
  height: inherit;
}
.frame_top_left{
  pointer-events: none;
  position: absolute;
  top: -70px;
  left: -60px;
  background: url("../img/clover_top_left.gif");
  width: 300px;
  height: 300px;
  z-index: 7;
}
.frame_bottom_right{
  pointer-events: none;
  position: absolute;
  bottom: -60px;
  right: -60px;
  float: right;
  background: url("../img/clover_bottom_right.gif") bottom right;
  width: 300px;
  height: 300px;
  z-index: 7;
}
.scores{
  padding-top: 20px;
  text-align: center;
}
.select_game_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
//  align-items: center;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 82%;
  background: $dw-background;
  background-size: contain;
//  position: relative;
//  width: 100%;
//  min-width: 300px;
//  height: 320px;
  padding: 25px 25px;
}
.bts{
  margin-top: 100px;
}
#container_layer{
  position: absolute;
  overflow: hidden;
  width: 100%;
}
img{
  width: 100%;
  height: 100%;
  position: absolute;
}
.container_gamefield {
  background: $dw-background;
  background-size: contain;
  width: 600px;
  z-index: 5;
  position: relative;
  margin: auto;
}
.field {
  margin: auto;
  margin-top: 10px;
  height: 432px;
  width: 432px;
}
.field_cell {
  margin: 4px;
  height: 100px;
  width: 100px;
  background-color: #542406;
  opacity: 0.8;
  border-radius: 9px;
  position: relative;
  float: left;
}
.field_cell:hover{
  opacity: 0.7;
}
.open:hover, .col:hover{
  opacity: 0.8;
}
.show{
    background-color: #EBC678;
}
.open{
    background-color: #6C7010;
}
.field_cell img{
    height: inherit;
}
.dialog {
  color: $color-font-base;
  @include font-base(12vw);
  position:fixed;
  left:36.8%;
  top:100px;
  z-index:100;
  background-image: url("../img/plate.gif");
  background-repeat: no-repeat;
  height: 360px;
  width: 420px;
}
.base_text{
  color: $color-font-base;
  @include font-base(12vw);
}
.dialog > .w {
  padding:20px 20px;
  text-align: center;

}
.dialog-overlay {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:#000;
  z-index:90;
  opacity:0.5;
}
.carousel_wrapper{
  @include font-base(12vw);
  width: 100%;
  height: 150px;
}
.carousel_ok{
  @include font-base(12vw);
}
.carousel_btn{
  width: 10%;
}
.carousel_selector{
  width: 80%;
}