@import "compass";


$font-base-family: 'Flavors', cursive;
$color-font-base: #944613;
$color-font-hover: #592B08;
$base-background:url("../img/back_no_parallax.jpg");
$dw-background:url("../img/plate.gif") no-repeat;
@mixin font-base($size) {
  font: $size $font-base-family;
}
@import "mini_carousel_styles";
body{
  background-image: $base-background;
  background-repeat: no-repeat;
  background-size: 220%;
  background-position-x:-600px;
  color: $color-font-base;
  @include font-base(12vw);
}
.base_container{
  margin: auto;
}
.font-game{
  color: $color-font-base;
  @include font-base(12vw);
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0;
  line-height: 90%;
}
.button-constant{
  text-align: center;
  border: none;
  min-height: 70px;
  color: $color-font-base;

}
.button-constant:hover{
  border: none;
  color: $color-font-hover;
}
.bt{
  @extend .button-constant;
  @include font-base(14vw);
  width: 50%;
  float:left;
}
.bt:hover{
  @extend .button-constant;
}
.bt:focus{
  outline: none;
  opacity: 0.9;
}
.bt_start{
  @extend .button-constant;
  @include font-base(14vw);
  width: 74%;
  margin: auto;
  top: 0;
  position: relative;
}
.container_selectors{
  width: 80%;
  position: relative;
  top: 200px;
  margin: auto;
}
.container_selectors:before{
  content:"";
  display: block;
  padding-top: 100%;
}
.frame_over_window{
  position: absolute;
  pointer-events: none;
  width: inherit;
  height: inherit;
}
.frame_top_left{
  pointer-events: none;
  position: absolute;
  top: -70px;
  left: -60px;
  background: url("../img/clover_top_left.gif");
  width: 300px;
  height: 300px;
  z-index: 7;
}
.frame_bottom_right{
  pointer-events: none;
  position: absolute;
  bottom: -60px;
  right: -60px;
  float: right;
  background: url("../img/clover_bottom_right.gif") bottom right;
  width: 300px;
  height: 300px;
  z-index: 7;
}
.scores{
  @include font-base(14vw);
}
.select_game_block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 82%;
  background: $dw-background;
  background-size: contain;
  padding: 25px 25px;
}
.bts{
  margin-top: 100px;
}
#container_layer{
  position: absolute;
  overflow: hidden;
  width: 100%;
}
img{
  width: 100%;
  height: 100%;
  position: absolute;
}
.field_cell:hover{
  opacity: 0.7;
}
.open:hover, .col:hover{
  opacity: 0.8;
}
.show{
    background-color: #EBC678;
}
.open{
    background-color: #6C7010;
}
.field_cell img{
    height: inherit;
}
.dialog {
  width: 80%;
  height: 44%;
  left:10%;
  top:20%;
  background-size: cover;
}
.base_text{
  font-size: 12vw;
}
.bt_small{
  @include font-base(10vw);
}
.dialog-overlay {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:#000;
  z-index:90;
  opacity:0.5;
}
.carousel_wrapper{
  @include font-base(12vw);
  width: 100%;
  height: 150px;
}
.carousel_ok{
  @include font-base(12vw);
}
.carousel_btn{
  width: 10%;
}
.carousel_selector{
  width: 80%;
}
.container_gamefield{
  width: 90%;
}
.container_gamefield:before{
  padding-top: 160%;
}
.container_gamefield>div{
  background:url("../img/plate2.gif") no-repeat;
  background-size: contain;
}
.field_wrapper{
  width:90%
}
.field_cell{
  border-radius: 18px;
}
.field{
  width: 100%;
  height: 80%;
}
.show_message_current_player{
  left: 20%;
  width: 60%;
  font-size: 100vw;
}