<div ng-controller="OnePlayerController">
    <div class="scores">Scores:{{score}}</div>
    <!--<div class='scores_style' ng-repeat="apple in apples track by $index"><img src="/static/img/apple.png"></div>-->
    <div class="field">
        <div ng-repeat="i in game_field track by $index">
            <div  class="field_cell"
                  ng-class="{'show': indexInShowList($index), 'open': indexInOpenList($index)}"
                  ng-click="openCell($index) ">
                <div ng-if="showCell($index)">
                    <img class="img_cell" ng-src="{{game_field[$index]}}">
                </div>
            </div>
        </div>
    </div>
</div>