<div ng-controller="StepController">
    <div class="container_selectors" ng-switch="steps">
        <div class="select_game_block" ng-switch-default="step_1">
            <div make-frame></div>
            <p class="font-game">Players</p>
            <div class="bts">
                <div class="bt" ng-click="step_1('one')">
                 One
                </div>
                <div class="bt" ng-click="step_1('two')">
                 Two
                </div>
            </div>
        </div>
        <div class="select_game_block" ng-switch-when="step_2">
            <div make-frame></div>
            <p class="font-game">Difficulty Level</p>
            <mini-carousel selectors="all_levels" lft-btn="" rght-btn="" ok-handler="step_2"/>
        </div>
        <div class="select_game_block" ng-switch-when="step_3">
            <div make-frame></div>
            <p class="font-game">What will you be looking for?</p>
            <mini-carousel selectors="all_elements" lft-btn="" rght-btn="" ok-handler="step_3"/>
        </div>
        <div class="select_game_block" ng-switch-when="step_4">
             <div make-frame></div>
            <div class="bt_start" ng-click="startgame()">Start <br>>>>-----></div>
        </div>
    </div>
</div>