
<div class="carousel_wrapper">
    <div class="btn_left" ng-click="preElement()">
        <img ng-if="leftb" ng-src="{{leftb}}">
        <p ng-if="!leftb"><</p>
    </div>
    <div class="carousel_selector">
        <div ng-repeat="selector in selectorsCarousel">
            <p ng-if="current_selector_index == $index">{{ selector }}</p>
        </div>
    </div>
    <div class="btn_right" ng-click="nextElement()">
        <img ng-if="rightb" ng-src="{{rightb}}">
        <p ng-if="!rightb">></p>
    </div>
</div>
<button class="carousel_ok" ng-click="OkHandler()">OK</button>